/* Start Navigation */

.navigation {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__logo {
    margin: 0 28px;
}

.navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation__container ul {
    display: flex;
}

.navigation__container li {
    position: relative;
    margin: 0 20px;
}

.navigation__container li a {
    color: var(--colorTextGray);
    font-size: 15px;
}

/* End Navigation */
/* Start Sub Navi */

.navigation__secondary_features,
.navigation__secondary_company {
    position: absolute;
    flex-direction: column;
    background-color: var(--colorTextWhite);
    right: 0;
    top: 36px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 10px 0 var(--colorTextGray);
    padding: 20px 0;
}

.navigation__secondary_company {
    left: 0;
}

.navigation__secondary_features.active,
.navigation__secondary_company.active {
    width: fit-content;
    height: fit-content;
}

.navigation__secondary_features li,
.navigation__secondary_company li {
    margin: 10px 25px;
}

.navigation__secondary_features li a,
.navigation__secondary_company li a {
    width: max-content;
    display: block;
}

.navigation__secondary_features li img {
    margin-right: 15px;
}

/* End Sub Navi */
/* Start Auth */

.navigation__auth {
    display: flex;
    margin-right: 20px;
}

.navigation__auth a {
    display: block;
    border: 2px solid var(--colorTextGray);
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 10px;
    color: var(--colorTextGray);
    font-size: 15px;
}

.navigation__auth a:nth-child(1) {
    border: none;
}

/* End Auth */
/* Start Mobile */

.btn-menu,
.btn-close {
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.btn-close {
    margin-top: 20px;
    transform: translateX(90%);
}

/* End Mobile */

@media (max-width: 898px) {
    .navigation__logo {
        margin: 0 18px;
    }

    .navigation__auth a {
        margin-right: 0px;
    }

    .navigation__container li {
        margin: 0 8px;
    }
}

@media (max-width: 698px) {
    .btn-menu,
    .btn-close {
        display: block;
    }

    .navigation__container.active {
        position: fixed;
        bottom: 0px;
        right: 0;
        flex-direction: column;
        width: 60%;
        height: 100%;
        justify-content: flex-start;
        background: var(--colorTextWhite);
        align-items: flex-end;
        z-index: 9999;
        display: block;
        transform: translate(0);
        transition: all 0.5s ease-in-out;
    }

    .navigation__container {
        transform: translate(0);
        display: none;
    }

    .navigation__list {
        margin-top: 0px;
        flex-direction: column;
    }

    .navigation__list li {
        margin: 8px 18px;
    }

    .navigation__secondary_features,
    .navigation__secondary_company {
        position: static;
        padding: 0;
        box-shadow: none;
        background: var(--colorTextWhite)
    }

    .navigation__secondary_features.active,
    .navigation__secondary_company.active {
        margin-top: 12px;
    }

    .navigation__auth {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 18px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .navigation__auth a {
        width: 100%;
        text-align: center;
        margin-top: 8px;
    }
}

.chevron {
    margin-left: 6px;
    vertical-align: middle;
}

.overlay.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: all 0.5s ease;
    background-color: #000000c7;
}